<div class="text-center">
    <h1>
        Sistem de Asistare a Deciziilor <br>
        Achizitionarea unui Automobil
    </h1>
</div>
<div class="container text-center">
    <div class="row">
        <div class="col-6 pageCard c-pointer">
            <img src="assets/img/bar-chart.png" alt="image">
            Grafigul Evolutiei Preturilor
        </div>
        <div class="col-6 pageCard c-pointer">
            <img src="assets/img/economy-forecast.png" alt="image">
            Estimarea Pretului la zi
        </div>
        <div class="col-6 pageCard c-pointer">
            <img src="assets/img/car.png" alt="image">
            Estimarea Pretului Modele ce vor fi lansate
        </div>
        <div class="col-6 pageCard c-pointer">
            <img src="assets/img/collaboration.png" alt="image">
            Ierarhizarea modelelor
        </div>
    </div>
</div>