<div class="page-header container-fluid align-middle">
    <button mat-icon-button>
        <mat-icon aria-label="Back" routerLink="">arrow_back_ios</mat-icon>
    </button>
    <h2 class="align-middle">Graficul Evolutiei Preturilor</h2>
</div>


<div class="container pt-3">
    <div class="row">
        <div class="col-3 p-3">
            <mat-radio-group [(ngModel)]="combustibil">
                <mat-radio-button class="d-block mb-4" *ngFor="let combustibilOption of combustibilOptions" [value]="combustibilOption">
                    {{combustibilOption}}
                </mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="col-3">
            <mat-form-field>
                <mat-select placeholder="Select Brand" (selectionChange)="onBrandChange($event)" [(ngModel)]="brand">
                    <mat-option *ngFor="let brand of availableBrands" [value]="brand">
                        {{brand}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Select Model">
                    <mat-option *ngFor="let mdoel of availableModels" [value]="mdoel">
                        {{mdoel}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-3">
            <mat-form-field>
                <input matInput [matDatepicker]="startPicker" placeholder="Start date" [formControl]="startDate">
                <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                <mat-datepicker #startPicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <input matInput [matDatepicker]="endPicker" placeholder="End date" [formControl]="endDate">
                <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                <mat-datepicker #endPicker></mat-datepicker>
            </mat-form-field>

        </div>
        <div class="col-3">
            <button mat-raised-button color="primary" class="w-100 mt-5">Generate</button>
        </div>
    </div>
</div>

<div class="container">
    <canvas mdbChart [chartType]="chartType" [datasets]="chartDatasets" [labels]="chartLabels" [colors]="chartColors"
        [options]="chartOptions" [legend]="true" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
    </canvas>
</div>